@media only screen and (max-width: 600px) {
  .img-carousel {
     height: 600px;
  width: 100%;
  object-fit: cover;
  }
}

.img-carousel {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

body {
  padding: 0;
  margin: 0;
  background-color: #222020;
}
form {
  margin: 0;
}



